// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-right {
	font-family : monospace;
	margin-top : 0%;
	font-size : 0.8em;
}

.cuser-post-top {
	overflow :hidden;
	padding: 1% 1% 1% 1%;
	background: #f3f3f3;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.cuser-post-top-left {
	float: left;
	width: 75%;
}

.cuser-post-top-right {
	float: right;
	
}

.cuser-post-middle {
	font-family: monospace;
	padding: 0% 3% 0% 3%;
}

hr {
	margin: 0.5% 0.2% 0.5% 0.2%;
	display:block;
	border-color:#d3d3d3;
}

.cuser-img {
	width:100%;
	height:100%;
}

.cuser-post-form {
		
}


.cuser-post-textarea {
	outline:none;
	padding:5% 1% 5% 1%;
	width:100%;
	border-width:0px;
	border:none;
}

.user-post-top {
	overflow :hidden;
	padding: 1% 1% 1% 1%;
	background: #f3f3f3;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.user-post-middle {
	padding: 2% 1% 2% 1%;
}

.user-post-bottom {

	padding: 0% 1% 1% 1%;
	background: #f3f3f3;
	width: 100%;
}

//Comment Section
.comment-text {
	width:100%;
	padding: 0.5% 1% 0% 1%;
	border-width:0px;
	border:none;
	outline:none;
}

.comment-section {
	padding :1% 0% 0.5% 0%;
	background: white;
	border:1px solid #d3d3d3;
	border-top:none;
	margin-top:-0.2%;
}

.one-comment {
	max-width:100%;
	height:100%;
	font-size:0.8em;
	padding: 1% 1% 1% 1%;
}

.comment-left {
	float:left;

}
.comment-right {
	padding: 1% 0.5% 0.5% 0.5%;
}

.comment-image {
	float:left;
	height: auto; 
    width: auto; 
    max-width: 20px; 
    max-height: 20px;
}

//profile

.profile-top {
	width:100%; 
	height:250px;
	background: #f3f3f3;
	position:relative;
}

.profile-bottom {
	width:100%;
	float:right;
	text-align:right;
	font-size: 1.5em;
	padding: 0% 5% 0% 0%;
}

.intro-top {
	background: #f3f3f3;
	width:100%;

}

.intro-bottom {
	background: #f3f3f3;
	width:100%;
	height:100%;
	
}

.row.vdivide [class*='']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
.form-inline {
	padding: 1% 15% 1% 0%;
}

.profile-width{
	width:50%;

}




.profile-image {
	float: left;
	width:100%;
	height:100%;
	max-width: 30px;
	max-height:30px;	
}


.friend-button {
   position:absolute;
   bottom:2%;
   right:1%;

}