<div class="chatbox" style='display:none;'>
    <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
        <div class="col-xs-12 col-md-12">
        	<div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8"> 
                        <h6 class="panel-title" id="chat-title"><span class="glyphicon glyphicon-comment"></span></h6>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <span class="glyphicon glyphicon-remove icon_close" id="chatclose"></span>
                    </div>
                </div>
                <div class="panel-body msg_container_base"  id="chat-content">
                </div>
                <div class="panel-footer">
                        <%= form_for(:message, :url => {:controller => 'messages', :action => 'send_message'} , :html =>{:id =>'msg_form', :class => 'input-group'},remote: true) do |f| %>
                        <%= f.text_field :content ,class:"form-control input-sm chat_input",id:"btn-input" ,placeholder:"Write Message..." %>
                        <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" id="btn-chat">Send</button></span>
                        <%= f.text_field :receiver,id: "receiver_id", type: "hidden", value: "" %>
                        <% end %>
                        
                    </div>
                </div>
    		</div>
        </div>
    </div>
</div>